name: Run Bot

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      # YT-DLP Install කිරීම (මේක නැති නිසයි කලින් Error එක ආවේ)
      - name: Install yt-dlp
        run: |
          sudo wget https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -O /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp

      - name: Install Dependencies
        run: npm install

      - name: Start Bot
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          YT_COOKIES: ${{ secrets.YT_COOKIES }}
          FORCE_COLOR: true  # පාටවල් ලස්සනට පේන්න
        # PM2 නැතුව කෙලින්ම node එකෙන් run කරමු (එතකොට Logs ලස්සනට පේනවා)
        run: node index.js
